
# Python Cache Files
__pycache__/
*.pyc
*.pyo
*.pyd


# Virtual Environments
venv/
env/
.venv/
thesis_env/


# Jupyter Notebook Files
.ipynb_checkpoints/


# Environment Variables / Secrets
.env
*.env
.streamlit/secrets.toml


# Data Files (Raw & Large Files)
data/raw_data/
.xlxs


# Logs and Temporary Files
*.log
*.tmp


# VS Code Settings
.vscode/


# Operating System Files
.DS_Store
Thumbs.db


# Google Colab Files
/content/

# Model Files
models/
*.pt
*.bin
*.safetensors
checkpoints/
